<?php
/*+**********************************************************************************
 * The contents of this file are subject to the Isleen Solutions Pvt Ltd Public License Version 1.0
 * ("License"); You may not use this file except in compliance with the License
 * The Original Code is:  Isleen Solutions Pvt Ltd open source	
 * The Initial Developer of the Original Code is isleen.
 * All Rights Reserved.
 ************************************************************************************/


vimport ('includes.runtime.Globals');
require_once 'modules/Settings/GravityForm/actions/sync.php';
Settings_GravityForm_Sync_Action::autoSync();

